.vscode-test
__pycache__
**/.vscode-test/**
**/.vscode test/**
**/.vscode-smoke/**
**/.venv*/
bin/**
build/**
obj/**
.pytest_cache
tmp/**
.vs/
dist/**
*.egg-info/*
.vscode
examples/**/*.jpg
masked_dataset/**/*.jpg
masked_dataset_carre/**/*.jpg
masked_dataset/**/*.png
masked_dataset_carre/**/*.png
.python-version
.coverage
*coverage.xml
.ruff_cache